<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <title>Collectedhomes</title>
</head>
<body>
    
    <%- include("partials/header.ejs") %>
    <section class="main">
        <img src="/image/building.jpg" alt="Beskrivning av bilden" width="100%" height="auto">
        <div class="headline">
            <h1>Collected Homes</h1>
            <p class="line1">One agent - Several options</p>
            <p class="line2">Our specialty is to present homes with personal service</p>
            <p class="line3">according to our customers wishes and budget.
            </p>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>

    
</body>
</html>