<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <title>Collectedhomes</title>
</head>
<body>
    
    <%- include("partials/header.ejs") %>
    <section class="main">
        <img src="/image/building.jpg" alt="Beskrivning av bilden" width="100%" height="auto" class="home-image">
        <img src="/image/housemobile.jpg" alt="Beskrivning av bilden" width="100%" height="100%" class="home-image-mobile">
        <div class="headline">
            <h1 class="homle-line">Collected Homes</h1>
            <p class="line1">One agent - Several options</p>
            <p class="line2">Our specialty is to present homes with personal service</p>
            <p class="line3">according to our customers wishes and budget.
            </p>
        </div>

        <div class="home-container">
            <div class="home-box">
                <img src="/image/home1.jpg" alt="Beskrivning av bilden" width="100%" height="auto" class="home-image2">
            </div>
            <div class="home-box">
                <img src="/image/home2.jpg" alt="Beskrivning av bilden" width="100%" height="auto" class="home-image2">
            </div>
            <div class="home-box">
                <img src="/image/home3.jpg" alt="Beskrivning av bilden" width="100%" height="auto" class="home-image2">
            </div>
        </div>


            <div class="home-container2">
            <div class="home-box2">
                <h2>Why Collected Homes?</h2>
            </div>
            <div class="home-box2">
                <p>
                    By using our services, you get access to several brokerage firms but only have contact with one agent. It saves you time, energy and it is free of charge.
                    
                    After a proper need analysis, we will present the best property among many of them for your specific wishes and budget</p>
                </div>
            </div>
        


    </section>
    <%- include("partials/footer.ejs") %>

    
</body>
</html>